.App {
  height: auto;
  width: 400px;
  background-color: #bfd7c0;
  padding: 20px;
}

.createProjectBlock {
  text-align: center;
}

.customTabs {
  color: black;
  background-color: #bfd7c0;
  display: flex;
  justify-content: space-around;
}

.tabs .tab a{
  color:#b9b9b9;
}